<div style="margin:8px">
  <button type="button" [routerLink]="['/accordion']">Accordion Demo</button>
  <button type="button" [routerLink]="['/alert']">Alert Demo</button>
  <button type="button" [routerLink]="['/button']">Button Demo</button>
  <button type="button" [routerLink]="['/carousel']">Carousel Demo</button>
  <button type="button" [routerLink]="['/collapse']">Collapse Demo</button>
  <button type="button" [routerLink]="['/datePicker']">Datepicker Demo</button>
  <button type="button" [routerLink]="['/dropdown']">Dropdown Demo</button>
  <button type="button" [routerLink]="['/modal']">Modal Demo</button>
  <button type="button" [routerLink]="['/pagination']">Pagination Demo</button>
  <button type="button" [routerLink]="['/popOver']">Popover Demo</button>
  <button type="button" [routerLink]="['/progressBar']">ProgressBar Demo</button>
  <button type="button" [routerLink]="['/rating']">Rating Demo</button>
  <button type="button" [routerLink]="['/sortable']">Sortable Demo</button>
  <button type="button" [routerLink]="['/tabs']">Tabs Demo</button>
  <button type="button" [routerLink]="['/timePicker']">TimePicker Demo</button>
  <button type="button" [routerLink]="['/toolTip']">ToolTip Demo</button>
  <button type="button" [routerLink]="['/typeAhead']">TypeAhead Demo</button>
  <router-outlet></router-outlet>
</div>
